.main {
  position: relative;
  top: 73px;
  padding: 60px;
  min-height: 75.5vh;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 360px) {
  .main {
    position: relative;
    top: 73px;
    padding: 58px 30px;
    min-height: 60vh;
  } 
}